.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgba(142, 142, 142, 0.8) 0%,
    rgba(221, 228, 240, 0.8) 100%
  );}

.login-card{
  position: relative;
  width: 500px;
  height: 520px;
  min-height: 250px;
  max-height: 600px;
  background: rgba(255, 255, 255, 0.061);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  padding: 1.5rem;
  z-index: 10;
  color: whitesmoke;
}

.login-card h1 {
    font-family: "Kode Mono", monospace;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: #000;
}
.submit-buttons button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343b383c;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
   margin-top: 2rem;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.submit-buttons button:hover {
    background-color: rgb(0, 255, 0);
    transition: all 0.3s ease-in-out;
    opacity:1;
}

.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.glassIco {
        --width: 60px; /* Decreased size */
        width: var(--width);
        height: var(--width);
        color: #000000;
        font-size: 24px; /* Decreased size */
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(2px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-right-color: rgba(255, 255, 255, 0.1);
        border-bottom-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        margin: 20px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
  .glassIco:before {
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    filter: blur(0px);
    transition: 400ms;
    transform: skewX(45deg) translateX(calc(var(--width) + 50%));
  }
  
  .glassIco:hover {
    transition: transform 400ms ease-in-out, box-shadow 400ms;
    transform: translateY(-20px);
  }
  
  .glassIco:hover:before {
    transform: skewX(45deg) translateX(calc(var(--width) * -1 - 50%));
  }
  
  .glassIco > * {
    opacity: 0.8;
  }
  
  .hyperlinks {
    display: flex;
    justify-content: space-between;
    color: #000;
    padding-top: 30px;
    text-decoration: none;
  }

    .hyperlinks a {
        color: #000;
        text-decoration: none;
    }

    .hyperlinks a:hover {
        color: #fff;
        text-decoration: underline;
    }